.product{
    display: flex;
     border-bottom: 2px solid gray;
     padding-bottom:5px;
     margin-right: 20px;
}
.product-name{
    color: rgba(43, 205, 226, 0.521);
    font-weight:900;
}
.main-btn{
    background-color: goldenrod;
    height: 30px;
    width: 150px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}